{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyController!{% endblock %}

{% block body %}
<!-- Vue Component initialization and pass the data passed by controller -->
<div id="app">
    <add-component currencies="{{ currencies }}"></add-component>
</div>

{% endblock %}
