{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyController!{% endblock %}

{% block body %}
<!-- Vue Component initialization and pass the data passed by controller -->
<div id="app" class="mt-5">
    <main-component rates="{{ rates }}" currencies="{{ currencies }}"></main-component>
</div>
<div class="container text-center">
    <a href="{{ path('rateList') }}" role="button">See All Rates</a>
</div>

{% endblock %}
