{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyController!{% endblock %}

{% block body %}
<!-- Vue Component initialization and pass the data passed by controller -->
<div id="app" class="mt-5">
    <convert-component rates="{{ rates }}" currencies="{{ currencies }}"></convert-component>
</div>

{% endblock %}
