{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyController!{% endblock %}

{% block body %}
<!-- Vue Component initialization-->
TEST
<div id="app">
    <example-component/>
</div>
{% endblock %}
