{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyController!{% endblock %}

{% block body %}
<!-- Vue Component initialization-->
<div id="app">
    <main-component rates="{{ rates }}" currencies="{{ currencies }}"></main-component>
</div>
{% endblock %}
