{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyController!{% endblock %}

{% block body %}
<!-- Vue Component initialization-->
<p>{{ rates }}</p>
TEST
<div id="app">
    <example-component rates="{{ rates }}"/>
</div>
{% endblock %}
