{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyController!{% endblock %}

{% block body %}
<!-- Vue Component initialization and pass the data passed by controller -->
<div id="app">
    <table-component rates="{{ rates }}" currencies="{{ currencies }}"></table-component>
</div>
{% endblock %}
